@media (max-width: 1440px) {

    .container {
        background-color: rgb(17, 5, 44);
        display: flex;
        border-radius: 20px;
        max-width: 65%;
        /* margin: auto; */
        /* margin-top: 12.5%; */
        align-items: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        line-height: 1.5;
    }
    .texto {
        margin: 3%;
        padding: 4%;
        color: white;
    }
    
    ul {
        display: flex;
    }
    img {
        max-width: 45vm;
        border-top-left-radius: 7px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 7px;
    }
    }
    @media (max-width:1200px) {
        .container {
            background-color: rgb(17, 5, 44);
            display: flex;
            border-radius: 20px;
            max-width: 65%;
            /* margin: auto; */
            /* margin-top: 12.5%; */
            align-items: flex-start;
            flex-wrap: nowrap;
            flex-direction: row;
            line-height: 1.5;
        }
        .texto {
            margin: 3%;
            padding: 4%;
            color: white;
        }
        
        ul {
            display: flex;
        }
        img {
            max-width: 100%;
            border-top-left-radius: 7px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 7px;
        }
    }
    @media (max-width: 375px) {
    .container {
        background-color: rgb(17, 5, 44);
        display: flex;
        border-radius: 20px;
        max-width: 80%;
        /* margin: 5% 5% 15% 5%; */
        margin-top: 100px;
        flex-direction: column-reverse;
        /* align-content: center; */
        /* align-items: flex-start; */
    } 
    .texto {
        padding: 10%;
        color: white;
        margin: 5%;
    }
    .texto .texto-cabecalho {
        display: contents;
        text-align: center;
        margin-bottom: revert;
        
    }
    .texto h2 {
        text-align: center;
        /* font-size: 10px; */
        /* margin-top: inherit; */    
    }
    li {
        display: grid;
        justify-items: center;
        align-content: center;
        margin: inherit;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    img {
        max-width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    }