.container {
    background-color: rgb(229, 233, 233) ;
    border: 1px solid rgb(228, 222, 222);
    margin: 100px;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.container div {
    background-color: rgb(244, 244, 248);
    padding: 20px ;
       
}

#item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(250, 248, 250);
    color: rgb(59, 185, 158) ;
    font-size: 1em;
    }
    
    

#item-2 {
    grid-column-start: 1;
    grid-column-end: 1 ;
    background-color: rgb(45, 158, 134);
    color: aliceblue;
    
}

#item-3 {
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: rgb(59, 185, 158);
    color: aliceblue;
    font-size: 0.5em;
}
@media screen and (max-width: 768px) {
    #item-1 {
        grid-column-start: 1;
        grid-column-end: 1;
               }
               
        #item-2 {
        grid-column-start: 1;
        grid-column-end: 1 ;
      }
    
    #item-3 {
        grid-column-start: 1;
        grid-column-end: 1;
    
}
}