
body{
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
    font-weight: bold;

}

header{
    text-align: center;
    margin-top: 50px;
}

.main{
    width: 100vh;
    height: 400px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    border-radius: 20px;
    
}

.ladoesq{
    margin: 10px auto;
    width: 40vh;
    height: 80%;
    padding: 10px;
    margin-left: 20px;
    
}

.ladodir{
    margin: auto;
    width: 40vh;
    height: 80%;
    background-color: hsl(183, 100%, 15%);
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    
    
}

#input-bill{
    background-image: url('images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: 5px;
    color: hsl(183, 100%, 15%);
    text-align: right;
    background-color: hsl(185, 41%, 84%);
    padding: 5px;
    width: 35vh;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    
}

.porcentagem{
    margin-top: 50px;
}

#textos{
    color: hsl(184, 14%, 56%);
    font-size: 12px;
    
}

.botao{
    background-color:hsl(183, 100%, 15%);
    color: white;
    width: 10vh;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.botaocusto{
    background-color: hsl(185, 41%, 84%);
    color: hsl(184, 14%, 56%);
    width: 10vh;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.people{
    margin-top: 50px;
    
}

#input-people{
    background-image: url(images/icon-person.svg);
    background-repeat: no-repeat;
    text-align: right;
    background-color: hsl(185, 41%, 84%);
    padding: 5px;
    border-radius: 5px;
    width: 35vh;
    border:none;
    background-position: 5px;
    font-size: 18px;
    font-weight: bold;
}

#txt2{
    color: white;
    font-size: 15px;
    
}

#txt3{
    color:hsl(184, 14%, 56%);
    font-size: 12px;
}

#txt4{
    color: hls(172, 67%, 45%);
    font-weight: bold;
    font-size: 24px;
    margin-left: 180px;
    margin-top: -50px;
}

#txt5{
    color: hls(172, 67%, 45%);
    font-weight: bold;
    font-size: 24px;
    margin-left: 180px;
    margin-top: -50px;
}

#botao-reset{
    width: 40vh;
    text-align: center;
    margin:  auto;
    border-radius: 5px;
    background-color: hsl(186, 14%, 43%);
    cursor: pointer;
    padding: 10px;
    border: none;
    color:hsl(183, 100%, 15%);
    margin-top: 100px;
}
