body {
    margin: 0;
    text-align: center;
}

h1 {
    margin-top: 0;
}

p {    
    color:grey;
    text-align: center;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.topCloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottomCloud {
    position: absolute;  
    left: 300px;
    bottom: 300px;  
}
