<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">

    <title>To Do List</title>
</head>
<body>

    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>
   
    <div class="box">
        <% for(let i=0; i<newTaskList.length; i++) { %>
        <div class="item">
            <input type="checkbox">
            <p><%= newTaskList[i] %></p>
        </div>
        <% } %>

        <form class="item" acction="/" method="post">
            <input type="text" name="newItem" id="newItem" placeholder="New Task" autocomplete="off">
            <button type="submit" name="list" value= <%= listTitle %> >+</button>
        </form>

    </div>
   
</body>
</html>