.first-section {
    padding: 20px 20px;
}


.twitter-icon {    
    color:rgb(29, 155, 240);
}

.search-input {
    width: 50%;
    height: 40px;
    border-radius: 25px;
    border-width: 0px;
    background-color: rgb(239, 243, 244);    
}
