
h2, h5 {
    font-weight: bold !important;
}

p {
    margin: 0px 0px !important;
    font-size: 12px;  
    color: rgb(83, 100, 113);  
}
  
.twitter-icon { 
    color:rgb(29, 155, 240) !important;
    position: absolute;
    z-index: 1;
}

.search-icon-position {
    padding: 0px;
    margin: 0px 0px 15px 0px;
    cursor: default;
    position: relative;
    display: flex;
    z-index: 0;    
}

.search-icon {
    margin: 12px 0px 5px 0px;
    position: absolute;
    padding-left: 15px;
    color: rgb(83, 100, 113);
    pointer-events: auto;   
}

.search-text  {
    width: 70%;
    height: 40px;
    padding: 10px 5px 10px 50px;    
    border-radius: 25px;
    border-width: 0px;
    background-color: rgb(239, 243, 244);    
}

.features {
    margin: 5px 5px 15px 15px;
}

.features-nav {
    
    border: solid thin;
    border-color: white lightblue white lightblue;
}

.input-form {
    margin: 0px 0px 10px 15px;
}

.dots-icon {
    margin: 0px 0px 15px 500px;
    position: absolute;
    /*right: 5%;
    top: 43%;*/
    color: rgb(83, 100, 113);
    z-index: 1;  
}

.navbar-end {
    align-self: flex-end;
    margin: 5px 850px;
    color:rgb(29, 155, 240);
    font-size: 15px;
    position: absolute;
    z-index: 1;
}



